<% include partials/header %>
<div class="container">
  <h1 id="title" class="text-center">Pick A Place</h1>
</div>
<div class="choose">
  <h1 class="text-center">Choose one!</h1>
</div>
<div class="container">
  <div class="loading">
    <div class="spinner"></div>
  </div>
  <!--Search Page-->
  <div class="searchpage text-center">
    <button class="btn btn-default" id="search">Locate Me!</button>
  </div>
  <div class="columns">
    <!--Search Page-->
    <div class="column text-center">
      <h1 id="category" class="text-center">Rating</h1>
    </div>
    <div class="column text-center">
      <h1 id="category" class="text-center">Price</h1>
    </div>
    <div class="column text-center">
      <h1 id="category" class="text-center">Distance</h1>
      <img id="distanceImage" src="localhost:3000"/>
    </div>
  </div>
</div>
<% include partials/footer%>