<% include partials/header %>
<div class="container">
  <h1 id="title" class="text-center">Pick A Place</h1>
</div>
<div class="choose">
  <h1 class="text-center">Choose one!</h1>
</div>
<div class="container">
  <div class="loading">
    <div class="spinner"></div>
  </div>
  <!--Search Page-->
  <div class="searchpage text-center">
    <button class="btn btn-default" id="search">Locate Me!</button>
  </div>
  <div class="columns">
    <!--Search Page-->
    <div class="column text-center">
      <h1 class="category" class="text-center">Best Rating</h1>
            <img id="ratingImage" class="catImage" src="localhost"/>

    </div>
    <div class="column text-center">
      <h1 class="category" class="text-center">Lowest Price</h1>
            <img id="prideImage" class="catImage" src="localhost"/>

    </div>
    <div class="column text-center">
      <h1 class="category" class="text-center">Closest</h1>
      <img id="distanceImage" class="catImage" src="localhost"/>
    </div>
  </div>
</div>
<% include partials/footer%>