<% include partials/header %>
<div class="container">
<img class="logo" src="images/logo.png"/>
</div>
<div class="choose"></div>
<div class="container">
  <div class="loading">
    <div class="spinner"></div>
  </div>
  <div class="searchpage text-center">
    <button class="btn btn-default" id="search">Locate Me!</button>
  </div>
</div>
<% include partials/footer%>