<% include partials/header %>
<div class="container">
  <h1 class="text-center">Choose one!</h1>
</div>
<div class="container">
  <!--Search Page-->
  <div class="column text-center">
  </div>
  <div class="column text-center">
  </div>
  <div class="column text-center">
  </div>
</div>
<% include partials/footer%>